**Data Description:**

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

Attributes:
id : unique identifier for candidate (numeric)

job_title : job title for candidate (text)

location : geographical location for candidate (text)

connections: number of connections candidate has, 500+ means over 500 (text)

Output (desired target):
    fit - how fit the candidate is for the role? (numeric, probability between 0-1)

Keywords: “Aspiring human resources” or “seeking human resources”

**Goal(s):**

Predict how fit the candidate is based on their available information (variable fit)

Success Metric(s):

Rank candidates based on a fitness score.

Re-rank candidates when a candidate is starred.

In [1]:
# business objective to find human resourse professional that have the knowledge to find good candidates for technical roles

In [2]:
# matching the keyword that with profile that HR is looking for

In [3]:
import pandas as pd
import numpy as np
import nltk
import string
# Uncomment the following line the first time you run the code
# nltk.download('stopwords')
# nltk.download('wordnet')

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Read in raw data

In [4]:
df1 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Documents\APZIVA\Project3\data\potential-talentsAspiringhumanresourcesseekinghumanresources.csv')

In [5]:
df1.shape

(104, 5)

In [6]:
# freq of locations
# freq of connections convert into intergers
# remove 'of' and the 'ats' (stop words)
# word frequency , word cloud

# job title some are students whwere says student or university name want to exclude #create flag 1 if prior experience else 0
# lower case
# year see if any meaning 
# key words such as senior, specialist 
# special character removal like punctuation
# flag if above 500
# see if relationship between num connections

In [7]:
# 1 similarity score
# descending similarity score is your reccomendation list
# combine that with connections higher the 


    # job title , the higher the similarity score the higher the preference for that candidate

# concatenation descending order of similarity and then the descending of number of connections

# 2 add weight to key words

In [8]:
# Reccommendation
# 1 do keyword mapping with a similarity score
#

In [9]:
# display all 104 rows
pd.set_option('display.max_rows',None)

#specify no max value for the column width
pd.set_option('display.max_colwidth', None)

# pd.reset_option('max_columns')
# pd.set_option('max_columns',104)
df1.head(104)

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
6,7,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN
8,9,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
9,10,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
10,11,Student at Chapman University,"Lake Forest, California",2,NaN
11,12,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
12,13,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
13,14,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
14,15,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
15,16,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
17,18,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
18,19,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
19,20,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
21,22,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
22,23,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
24,25,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
25,26,HR Senior Specialist,San Francisco Bay Area,500+,NaN
26,27,Aspiring Human Resources Management student seeking an internship,"Houston, Texas Area",500+,NaN
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN
28,29,Aspiring Human Resources Management student seeking an internship,"Houston, Texas Area",500+,NaN
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN
30,31,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
31,32,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
33,34,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
34,35,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
36,37,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
37,38,HR Senior Specialist,San Francisco Bay Area,500+,NaN
38,39,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
39,40,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
40,41,Student at Chapman University,"Lake Forest, California",2,NaN
41,42,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
42,43,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
43,44,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
44,45,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
46,47,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
47,48,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
49,50,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
50,51,HR Senior Specialist,San Francisco Bay Area,500+,NaN
51,52,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
52,53,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
53,54,Student at Chapman University,"Lake Forest, California",2,NaN
54,55,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
55,56,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
56,57,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
58,59,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
60,61,HR Senior Specialist,San Francisco Bay Area,500+,NaN
61,62,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
62,63,Student at Chapman University,"Lake Forest, California",2,NaN
63,64,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
64,65,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
65,66,Experienced Retail Manager and aspiring Human Resources Professional,"Austin, Texas Area",57,NaN
66,67,"Human Resources, Staffing and Recruiting Professional","Jackson, Mississippi Area",500+,NaN
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN
68,69,"Director of Human Resources North America, Groupe Beneteau","Greater Grand Rapids, Michigan Area",500+,NaN
69,70,"Retired Army National Guard Recruiter, office manager, seeking a position in Human Resources.","Virginia Beach, Virginia",82,NaN
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN
71,72,Business Management Major and Aspiring Human Resources Manager,"Monroe, Louisiana Area",5,NaN
72,73,"Aspiring Human Resources Manager, seeking internship in Human Resources.","Houston, Texas Area",7,NaN
73,74,Human Resources Professional,Greater Boston Area,16,NaN
74,75,"Nortia Staffing is seeking Human Resources, Payroll & Administrative Professionals!! (408) 709-2621","San Jose, California",500+,NaN
75,76,Aspiring Human Resources Professional | Passionate about helping to create an inclusive and engaging work environment,"New York, New York",212,NaN
76,77,Human Resources|\nConflict Management|\nPolicies & Procedures|Talent Management|Benefits & Compensation,Dallas/Fort Worth Area,409,NaN
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN
78,79,Liberal Arts Major. Aspiring Human Resources Analyst.,"Baton Rouge, Louisiana Area",7,NaN
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN
80,81,Senior Human Resources Business Partner at Heil Environmental,"Chattanooga, Tennessee Area",455,NaN
81,82,Aspiring Human Resources Professional | An energetic and Team-Focused Leader,"Austin, Texas Area",174,NaN
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN
83,84,Human Resources professional for the world leader in GIS software,"Highland, California",50,NaN
84,85,RRP Brand Portfolio Executive at JTI (Japan Tobacco International),Greater Philadelphia Area,500+,NaN
85,86,Information Systems Specialist and Programmer with a love for data and organization.,"Gaithersburg, Maryland",4,NaN
86,87,Bachelor of Science in Biology from Victoria University of Wellington,"Baltimore, Maryland",40,NaN
87,88,Human Resources Management Major,"Milpitas, California",18,NaN
88,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN
89,90,Undergraduate Research Assistant at Styczynski Lab,Greater Atlanta Area,155,NaN
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN
91,92,Seeking employment opportunities within Customer Service or Patient Care,"Torrance, California",64,NaN
92,93,Admissions Representative at Community medical center long beach,"Long Beach, California",9,NaN
93,94,Seeking Human Resources Opportunities. Open to travel and relocation.,Amerika Birleşik Devletleri,415,NaN
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN
95,96,Student at Indiana University Kokomo - Business Management - \nRetail Manager at Delphi Hardware and Paint,"Lafayette, Indiana",19,NaN
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN
97,98,Student,"Houston, Texas Area",4,NaN
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN
99,100,Aspiring Human Resources Manager | Graduating May 2020 | Seeking an Entry-Level Human Resources Position in St. Louis,"Cape Girardeau, Missouri",103,NaN
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN

### Convert to lower case

In [10]:
df1['job_title'] = df1['job_title'].str.lower()

df1['location'] = df1['location'].str.lower()

### Remove STOP words

In [11]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
# job_title_str = '2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional'

In [13]:
# list(df1.job_title)

In [14]:
# job_title_str.split()

In [15]:
# job_title_str2 = [word for word in job_title_str.split() if word not in stop ]
# job_title_str2

In [16]:
# df1 = df1.drop(columns = ['job_title2'])

In [17]:
df1['job_title'] = df1['job_title'].map(lambda text: ' '.join([word for word in text.split() if word not in stop ]))

In [18]:
df1['job_title'].head()

0    2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional
1                                                  native english teacher epik (english program korea)
2                                                                aspiring human resources professional
3                                                                  people development coordinator ryan
4                                                         advisory board member celal bayar university
Name: job_title, dtype: object

In [19]:
df1['job_title'] = df1['job_title'].str.lower()

In [20]:
df1['location'] = df1['location'].str.lower()

In [21]:
df1.head()

,id,job_title,location,connection,fit
0,1,2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional,"houston, texas",85,NaN
1,2,native english teacher epik (english program korea),kanada,500+,NaN
2,3,aspiring human resources professional,"raleigh-durham, north carolina area",44,NaN
3,4,people development coordinator ryan,"denton, texas",500+,NaN
4,5,advisory board member celal bayar university,"i̇zmir, türkiye",500+,NaN

### Remove special characters

In [22]:
test_string = 'SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR'

In [23]:
from textblob import TextBlob

In [24]:
txt_toks = TextBlob(test_string).words
txt_toks
' '.join(txt_toks)

'SVP CHRO Marketing Communications CSR Officer ENGIE Houston The Woodlands Energy GPHR SPHR'

In [25]:
def remove_special_char(string):
    txt_tokens = TextBlob(string).words
    clean_txt_tokens = [word for word in txt_tokens if word.isalnum()]
    return ' '.join(clean_txt_tokens)

In [26]:
# test function

remove_special_char("Hello, World!" )

'Hello World'

**word.isalnum()** is a string method in Python used to check if all characters in a given string are alphanumeric, meaning they are either letters (alphabetic characters) or numbers (digits).

If word is a string, word.isalnum() returns True if all characters in the string are either letters or digits, and False otherwise.
Spaces, punctuation, or any special characters other than letters and digits will cause word.isalnum() to return False.

In [27]:
# df['selftext'] = df['selftext'].apply(lambda text: " ".join(word for word in text.split() if word not in stop))

df1['job_title'] = df1['job_title'].map(remove_special_char)

In [28]:
df1['location'] = df1['location'].map(remove_special_char)

In [29]:
df1['connection'] = df1['connection'].map(remove_special_char)
df1['connection'].dtype

dtype('O')

#### convert connection to integer

In [30]:
df1['connection'].astype(int).dtype

dtype('int32')

In [31]:
df1['connection'] = df1['connection'].astype(int)

In [32]:
df1.dtypes

id              int64
job_title      object
location       object
connection      int32
fit           float64
dtype: object

In [33]:
df1.sample(5)

,id,job_title,location,connection,fit
75,76,aspiring human resources professional passionate helping create inclusive engaging work environment,new york new york,212,NaN
5,6,aspiring human resources specialist,greater new york city area,1,NaN
10,11,student chapman university,lake forest california,2,NaN
96,97,aspiring human resources professional,kokomo indiana area,71,NaN
69,70,retired army national guard recruiter office manager seeking position human resources,virginia beach virginia,82,NaN

### correct spelling

In [34]:
# import sys
# !{sys.executable} -m pip install autocorrect
# correctly installed

In [35]:
# from autocorrect import Speller
# spell = Speller(lang='en')
# print(spell('Kanada'))

In [36]:
# df1['location']

In [37]:
# df1['location'].map(lambda string: spell(string))  # Note:  türkiye is the correct turkish spelling of the country

In [38]:
# america bibleşik devletleri is the turkish spelling of the united states
# türkiye is the turkish spelling of the country turkey
# kanada is the turkish spelling of canada

df1['location'] = df1['location'].str.replace("america bibleşik devletleri",'united states' )

df1['location'] = df1['location'].str.replace('türkiye','turkey')

df1['location'] = df1['location'].str.replace('kanada','canada')

In [39]:
df1['location'].sample(20)

37        san francisco bay area
38                        canada
45           north carolina area
84     greater philadelphia area
16           north carolina area
40        lake forest california
33                  denton texas
26            houston texas area
29              chicago illinois
48    greater new york city area
98         las vegas nevada area
5     greater new york city area
46                  denton texas
36                        canada
71         monroe louisiana area
72            houston texas area
90          greater chicago area
80    chattanooga tennessee area
89          greater atlanta area
31                        canada
Name: location, dtype: object

# import sys
# !{sys.executable} -m pip install spellchecker
# CAN'T USE SPELLCHECKER BECAUSE COULD NOT INSTALL indexer

# import sys
# !{sys.executable} -m pip install indexer 
# COULD NOT INSTALL - THREW ERROR

###  Lemmatization

In [40]:
df1.head()

,id,job_title,location,connection,fit
0,1,2019 bauer college business graduate magna cum laude aspiring human resources professional,houston texas,85,NaN
1,2,native english teacher epik english program korea,canada,500,NaN
2,3,aspiring human resources professional,north carolina area,44,NaN
3,4,people development coordinator ryan,denton texas,500,NaN
4,5,advisory board member celal bayar university,turkey,500,NaN

In [41]:
from nltk.stem.porter import PorterStemmer 
stem = PorterStemmer()

from nltk.stem.wordnet import WordNetLemmatizer 
lem = WordNetLemmatizer()

lem.lemmatize('feet')

text = 'aspiring human resources professional'

' '.join([lem.lemmatize(word) for word in text.split()])

'aspiring human resource professional'

In [42]:
df1['lem_job_title'] = df1['job_title'].apply(lambda text: ' '.join([lem.lemmatize(word) for word in text.split()]))
df1['lem_job_title']

0               2019 bauer college business graduate magna cum laude aspiring human resource professional
1                                                       native english teacher epik english program korea
2                                                                    aspiring human resource professional
3                                                                     people development coordinator ryan
4                                                            advisory board member celal bayar university
5                                                                      aspiring human resource specialist
6                                               student humber college aspiring human resource generalist
7                                                                                    hr senior specialist
8                                               student humber college aspiring human resource generalist
9                                                         seeking human resource hris generalist position
10                                                                             student chapman university
11                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
12                                           human resource coordinator intercontinental buckhead atlanta
13              2019 bauer college business graduate magna cum laude aspiring human resource professional
14              2019 bauer college business graduate magna cum laude aspiring human resource professional
15                                                      native english teacher epik english program korea
16                                                                   aspiring human resource professional
17                                                                    people development coordinator ryan
18              2019 bauer college business graduate magna cum laude aspiring human resource professional
19                                                      native english teacher epik english program korea
20                                                                   aspiring human resource professional
21                                                                    people development coordinator ryan
22                                                           advisory board member celal bayar university
23                                                                     aspiring human resource specialist
24                                              student humber college aspiring human resource generalist
25                                                                                   hr senior specialist
26                                          aspiring human resource management student seeking internship
27                                                                     seeking human resource opportunity
28                                          aspiring human resource management student seeking internship
29                                                                     seeking human resource opportunity
30              2019 bauer college business graduate magna cum laude aspiring human resource professional
31                                                      native english teacher epik english program korea
32                                                                   aspiring human resource professional
33                                                                    people development coordinator ryan
34                                                           advisory board member celal bayar university
35                                                                     aspiring human resource specialist
36                                              student humber college aspiring human resource generalist
37                                                                                   hr senior specialist
38                                              student humber college aspiring human resource generalist
39                                                        seeking human resource hris generalist position
40                                                                             student chapman university
41                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
42                                           human resource coordinator intercontinental buckhead atlanta
43              2019 bauer college business graduate magna cum laude aspiring human resource professional
44                                                      native english teacher epik english program korea
45                                                                   aspiring human resource professional
46                                                                    people development coordinator ryan
47                                                           advisory board member celal bayar university
48                                                                     aspiring human resource specialist
49                                              student humber college aspiring human resource generalist
50                                                                                   hr senior specialist
51                                              student humber college aspiring human resource generalist
52                                                        seeking human resource hris generalist position
53                                                                             student chapman university
54                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
55                                           human resource coordinator intercontinental buckhead atlanta
56              2019 bauer college business graduate magna cum laude aspiring human resource professional
57                                                                   aspiring human resource professional
58                                                                    people development coordinator ryan
59                                                                     aspiring human resource specialist
60                                                                                   hr senior specialist
61                                                        seeking human resource hris generalist position
62                                                                             student chapman university
63                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
64                                           human resource coordinator intercontinental buckhead atlanta
65                                        experienced retail manager aspiring human resource professional
66                                                        human resource staffing recruiting professional
67                                                                    human resource specialist luxottica
68                                                  director human resource north america groupe beneteau
69                   retired army national guard recruiter office manager seeking position human resource
70                                                              human resource generalist scottmadden inc
71                                              business management major aspiring human resource manager
72                                      aspiring human resource manager seeking internship human resource
73                                                                            human resource professional
74                         nortia staffing seeking human resource payroll administrative professional 408
75     aspiring human resource professional passionate helping create inclusive engaging work environment
76                                                 human resource conflict management policy compensation
77                                                                       human resource generalist schwan
78                                                      liberal art major aspiring human resource analyst
79                                                                  junior me engineer information system
80                                              senior human resource business partner heil environmental
81                                                  aspiring human resource professional energetic leader
82                                                                 hr manager endemol shine north america
83                                                   human resource professional world leader gi software
84                                          rrp brand portfolio executive jti japan tobacco international
85                                        information system specialist programmer love data organization
86                                                bachelor science biology victoria university wellington
87                                                                        human resource management major
88                                                                             director human resource ey
89                                                        undergraduate research assistant styczynski lab
90                                                              lead official western illinois university
91                                    seeking employment opportunity within customer service patient care
92                                           admission representative community medical center long beach
93                                              seeking human resource opportunity open travel relocation
94                                                                     student westfield state university
95             student indiana university kokomo business management retail manager delphi hardware paint
96                                                                   aspiring human resource professional
97                                                                                                student
98                                                                        seeking human resource position
99           aspiring human resource manager graduating may 2020 seeking human resource position st louis
100                                                                     human resource generalist loparex
101                                                              business intelligence analytics traveler
102                                                                                    always set success
103                                                            director administration excellence logging
Name: lem_job_title, dtype: object

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             104 non-null    int64
 1   job_title      104 non-null    object
 2   location       104 non-null    object
 3   connection     104 non-null    int32
 4   fit            0 non-null      float64
 5   lem_job_title  104 non-null    object
dtypes: float64(1), int32(1), int64(1), object(3)
memory usage: 4.6+ KB