**Background:**

As a talent sourcing and management company, we are interested in finding talented individuals for sourcing these candidates to technology companies. Finding talented candidates is not easy, for several reasons. The first reason is one needs to understand what the role is very well to fill in that spot, this requires understanding the client’s needs and what they are looking for in a potential candidate. The second reason is one needs to understand what makes a candidate shine for the role we are in search for. Third, where to find talented individuals is another challenge.

The nature of our job requires a lot of human labor and is full of manual operations. Towards automating this process we want to build a better approach that could save us time and finally help us spot potential candidates that could fit the roles we are in search for. Moreover, going beyond that for a specific role we want to fill in we are interested in developing a machine learning powered pipeline that could spot talented individuals, and rank them based on their fitness.

We are right now semi-automatically sourcing a few candidates, therefore the sourcing part is not a concern at this time but we expect to first determine best matching candidates based on how fit these candidates are for a given role. We generally make these searches based on some keywords such as “full-stack software engineer”, “engineering manager” or “aspiring human resources” based on the role we are trying to fill in. These keywords might change, and you can expect that specific keywords will be provided to you.

Assuming that we were able to list and rank fitting candidates, we then employ a review procedure, as each candidate needs to be reviewed and then determined how good a fit they are through manual inspection. This procedure is done manually and at the end of this manual review, we might choose not the first fitting candidate in the list but maybe the 7th candidate in the list. If that happens, we are interested in being able to re-rank the previous list based on this information. This supervisory signal is going to be supplied by starring the 7th candidate in the list. Starring one candidate actually sets this candidate as an ideal candidate for the given role. Then, we expect the list to be re-ranked each time a candidate is starred.

**Data Description:**

The data comes from our sourcing efforts. We removed any field that could directly reveal personal details and gave a unique identifier for each candidate.

Attributes:

    id : unique identifier for candidate (numeric)
    job_title : job title for candidate (text)
    location : geographical location for candidate (text)
    connections: number of connections candidate has, 500+ means over 500 (text)

Output (desired target):
    fit - how fit the candidate is for the role? (numeric, probability between 0-1)

**Keywords:** “Aspiring human resources” or “seeking human resources”

**Goal(s):**

    Predict how fit the candidate is based on their available information (variable fit)

**Success Metric(s):**

    Rank candidates based on a fitness score.
    Re-rank candidates when a candidate is starred.

**Bonus(es):**

We are interested in a robust algorithm, tell us how your solution works and show us how your ranking gets better with starring action.

How can we filter out candidates which in the first place should not be in this list?

Can we determine a cut-off point that would work for other roles without losing high potential candidates?

In [1]:
# business objective to find human resourse professional that have the knowledge to find good candidates for technical roles

In [2]:
# matching the keyword that with profile that HR is looking for ('aspiring human resources',“seeking human resources”)

In [3]:
import pandas as pd
import numpy as np
import nltk
import string
# Uncomment the following line the first time you run the code
# nltk.download('stopwords')
# nltk.download('wordnet')

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Read in raw data

In [4]:
df1 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Documents\APZIVA\Project3\data\potential-talentsAspiringhumanresourcesseekinghumanresources.csv')

In [5]:
df1.shape

(104, 5)

# freq of locations
# freq of connections convert into intergers
# remove 'of' and the 'ats' (stop words)

# word frequency , word cloud

# job title some are students whwere says student or university name want to exclude #create flag 1 if prior experience else 0

# lower case
# year see if any meaning 
# key words such as senior, specialist 
# special character removal like punctuation
# flag if above 500
# see if relationship between num connections

# 1 similarity score -create a similarity score between the candidates profile description and the keywords that HR is looking for

# 
# descending similarity score is your reccomendation list
# combine that with LinkedIn connections - the more connections the better
# combine siilarity with number of connections
first descending order of similarity score and then descendsin order of connections



# job title , the higher the similarity score the higher the preference for that candidate

# 1 concatenation descending order of similarity and then the descending of number of connections

# 2 add weight to key words

In [8]:
# Reccommendation
# 1 do keyword mapping with a similarity score
#

In [9]:
# display all 104 rows
pd.set_option('display.max_rows',None)

#specify no max value for the column width
pd.set_option('display.max_colwidth', None)

# pd.reset_option('max_columns')
# pd.set_option('max_columns',104)
df1.head(104)

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
6,7,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN
8,9,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
9,10,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
10,11,Student at Chapman University,"Lake Forest, California",2,NaN
11,12,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
12,13,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
13,14,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
14,15,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
15,16,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
17,18,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
18,19,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
19,20,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
21,22,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
22,23,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
24,25,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
25,26,HR Senior Specialist,San Francisco Bay Area,500+,NaN
26,27,Aspiring Human Resources Management student seeking an internship,"Houston, Texas Area",500+,NaN
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN
28,29,Aspiring Human Resources Management student seeking an internship,"Houston, Texas Area",500+,NaN
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN
30,31,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
31,32,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
33,34,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
34,35,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
36,37,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
37,38,HR Senior Specialist,San Francisco Bay Area,500+,NaN
38,39,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
39,40,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
40,41,Student at Chapman University,"Lake Forest, California",2,NaN
41,42,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
42,43,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
43,44,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
44,45,Native English Teacher at EPIK (English Program in Korea),Kanada,500+,NaN
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
46,47,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
47,48,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
49,50,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
50,51,HR Senior Specialist,San Francisco Bay Area,500+,NaN
51,52,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN
52,53,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
53,54,Student at Chapman University,"Lake Forest, California",2,NaN
54,55,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
55,56,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
56,57,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
58,59,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN
60,61,HR Senior Specialist,San Francisco Bay Area,500+,NaN
61,62,Seeking Human Resources HRIS and Generalist Positions,Greater Philadelphia Area,500+,NaN
62,63,Student at Chapman University,"Lake Forest, California",2,NaN
63,64,"SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR","Houston, Texas Area",500+,NaN
64,65,Human Resources Coordinator at InterContinental Buckhead Atlanta,"Atlanta, Georgia",500+,NaN
65,66,Experienced Retail Manager and aspiring Human Resources Professional,"Austin, Texas Area",57,NaN
66,67,"Human Resources, Staffing and Recruiting Professional","Jackson, Mississippi Area",500+,NaN
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN
68,69,"Director of Human Resources North America, Groupe Beneteau","Greater Grand Rapids, Michigan Area",500+,NaN
69,70,"Retired Army National Guard Recruiter, office manager, seeking a position in Human Resources.","Virginia Beach, Virginia",82,NaN
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN
71,72,Business Management Major and Aspiring Human Resources Manager,"Monroe, Louisiana Area",5,NaN
72,73,"Aspiring Human Resources Manager, seeking internship in Human Resources.","Houston, Texas Area",7,NaN
73,74,Human Resources Professional,Greater Boston Area,16,NaN
74,75,"Nortia Staffing is seeking Human Resources, Payroll & Administrative Professionals!! (408) 709-2621","San Jose, California",500+,NaN
75,76,Aspiring Human Resources Professional | Passionate about helping to create an inclusive and engaging work environment,"New York, New York",212,NaN
76,77,Human Resources|\nConflict Management|\nPolicies & Procedures|Talent Management|Benefits & Compensation,Dallas/Fort Worth Area,409,NaN
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN
78,79,Liberal Arts Major. Aspiring Human Resources Analyst.,"Baton Rouge, Louisiana Area",7,NaN
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN
80,81,Senior Human Resources Business Partner at Heil Environmental,"Chattanooga, Tennessee Area",455,NaN
81,82,Aspiring Human Resources Professional | An energetic and Team-Focused Leader,"Austin, Texas Area",174,NaN
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN
83,84,Human Resources professional for the world leader in GIS software,"Highland, California",50,NaN
84,85,RRP Brand Portfolio Executive at JTI (Japan Tobacco International),Greater Philadelphia Area,500+,NaN
85,86,Information Systems Specialist and Programmer with a love for data and organization.,"Gaithersburg, Maryland",4,NaN
86,87,Bachelor of Science in Biology from Victoria University of Wellington,"Baltimore, Maryland",40,NaN
87,88,Human Resources Management Major,"Milpitas, California",18,NaN
88,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN
89,90,Undergraduate Research Assistant at Styczynski Lab,Greater Atlanta Area,155,NaN
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN
91,92,Seeking employment opportunities within Customer Service or Patient Care,"Torrance, California",64,NaN
92,93,Admissions Representative at Community medical center long beach,"Long Beach, California",9,NaN
93,94,Seeking Human Resources Opportunities. Open to travel and relocation.,Amerika Birleşik Devletleri,415,NaN
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN
95,96,Student at Indiana University Kokomo - Business Management - \nRetail Manager at Delphi Hardware and Paint,"Lafayette, Indiana",19,NaN
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN
97,98,Student,"Houston, Texas Area",4,NaN
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN
99,100,Aspiring Human Resources Manager | Graduating May 2020 | Seeking an Entry-Level Human Resources Position in St. Louis,"Cape Girardeau, Missouri",103,NaN
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN

### Convert to lower case

In [10]:
df1['job_title'] = df1['job_title'].str.lower()

df1['location'] = df1['location'].str.lower()

### Remove STOP words

In [11]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [17]:
df1['job_title'] = df1['job_title'].map(lambda text: ' '.join([word for word in text.split() if word not in stop ]))

In [18]:
df1['job_title'].head()

0    2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional
1                                                  native english teacher epik (english program korea)
2                                                                aspiring human resources professional
3                                                                  people development coordinator ryan
4                                                         advisory board member celal bayar university
Name: job_title, dtype: object

In [21]:
df1.head()

,id,job_title,location,connection,fit
0,1,2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional,"houston, texas",85,NaN
1,2,native english teacher epik (english program korea),kanada,500+,NaN
2,3,aspiring human resources professional,"raleigh-durham, north carolina area",44,NaN
3,4,people development coordinator ryan,"denton, texas",500+,NaN
4,5,advisory board member celal bayar university,"i̇zmir, türkiye",500+,NaN

### Remove special characters and tokenize with TextBlob

In [22]:
test_string = 'SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR'

In [23]:
from textblob import TextBlob

In [24]:
txt_toks = TextBlob(test_string).words
txt_toks
' '.join(txt_toks)

'SVP CHRO Marketing Communications CSR Officer ENGIE Houston The Woodlands Energy GPHR SPHR'

In [25]:
from textblob import TextBlob

def remove_special_char(string):
    txt_tokens = TextBlob(string).words
    clean_txt_tokens = [word for word in txt_tokens if word.isalnum()]
    return ' '.join(clean_txt_tokens)

In [26]:
# test function

remove_special_char("Hello, World!" )

'Hello World'

**word.isalnum()** is a string method in Python used to check if all characters in a given string are alphanumeric, meaning they are either letters (alphabetic characters) or numbers (digits).

If word is a string, word.isalnum() returns True if all characters in the string are either letters or digits, and False otherwise.
Spaces, punctuation, or any special characters other than letters and digits will cause word.isalnum() to return False.

In [27]:
# df['selftext'] = df['selftext'].apply(lambda text: " ".join(word for word in text.split() if word not in stop))

df1['job_title'] = df1['job_title'].map(remove_special_char)

In [28]:
df1['location'] = df1['location'].map(remove_special_char)

In [29]:
df1['connection'] = df1['connection'].map(remove_special_char)
df1['connection'].dtype

dtype('O')

### convert connection to integer

In [30]:
df1['connection'].astype(int).dtype

dtype('int32')

In [31]:
df1['connection'] = df1['connection'].astype(int)

In [32]:
df1.dtypes

id              int64
job_title      object
location       object
connection      int32
fit           float64
dtype: object

In [33]:
df1.sample(5)

,id,job_title,location,connection,fit
18,19,2019 bauer college business graduate magna cum laude aspiring human resources professional,houston texas,85,NaN
69,70,retired army national guard recruiter office manager seeking position human resources,virginia beach virginia,82,NaN
21,22,people development coordinator ryan,denton texas,500,NaN
26,27,aspiring human resources management student seeking internship,houston texas area,500,NaN
34,35,advisory board member celal bayar university,türkiye,500,NaN

In [34]:
# import sys
# !{sys.executable} -m pip install autocorrect
# correctly installed

In [35]:
# from autocorrect import Speller
# spell = Speller(lang='en')
# print(spell('Kanada'))

**clean up location column**

    america bibleşik devletleri is the turkish spelling of the united states
    
    türkiye is the turkish spelling of the country turkey
    
    kanada is the turkish spelling of canada

In [37]:
df1['location'] = df1['location'].str.replace('amerika birleşik devletleri','united states' )

df1['location'] = df1['location'].str.replace('türkiye','turkey')

df1['location'] = df1['location'].str.replace('kanada','canada')

In [38]:
df1['location'].sample(20)

20                   north carolina area
46                          denton texas
96                   kokomo indiana area
64                       atlanta georgia
66              jackson mississippi area
37                san francisco bay area
23            greater new york city area
39             greater philadelphia area
97                    houston texas area
11                    houston texas area
49                                canada
36                                canada
7                 san francisco bay area
47                                turkey
34                                turkey
99               cape girardeau missouri
59            greater new york city area
82                los angeles california
89                  greater atlanta area
68    greater grand rapids michigan area
Name: location, dtype: object

# import sys
# !{sys.executable} -m pip install spellchecker
# CAN'T USE SPELLCHECKER BECAUSE COULD NOT INSTALL indexer

In [59]:
# install transformers
import sys
!{sys.executable} -m pip install transformers

Collecting transformers
  Downloading transformers-4.34.1-py3-none-any.whl (7.7 MB)
Requirement already satisfied: filelock in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (3.3.1)
Requirement already satisfied: packaging>=20.0 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (23.1)
Collecting tokenizers<0.15,>=0.14
  Downloading tokenizers-0.14.1-cp39-none-win_amd64.whl (2.2 MB)
Collecting huggingface-hub<1.0,>=0.16.4
  Downloading huggingface_hub-0.18.0-py3-none-any.whl (301 kB)
Requirement already satisfied: pyyaml>=5.1 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (4.62.3)
Collecting safetensors>=0.3.1
  Downloading safetensors-0.4.0-cp39-none-win_amd64.whl (277 kB)
Requirement already satisfied: regex!=2019.12.17 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (2021.8.3)
Requirement already satisfied: requests in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (2.28.1)
Requirement already satisfied: numpy>=1.17 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from transformers) (1.24.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from huggingface-hub<1.0,>=0.16.4->transformers) (4.7.1)
Collecting fsspec>=2023.5.0
  Downloading fsspec-2023.10.0-py3-none-any.whl (166 kB)
Collecting huggingface-hub<1.0,>=0.16.4
  Downloading huggingface_hub-0.17.3-py3-none-any.whl (295 kB)
Requirement already satisfied: colorama in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from tqdm>=4.27->transformers) (0.4.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from requests->transformers) (1.26.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from requests->transformers) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from requests->transformers) (2023.5.7)
Installing collected packages: fsspec, huggingface-hub, tokenizers, safetensors, transformers
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2021.10.1
    Uninstalling fsspec-2021.10.1:
      Successfully uninstalled fsspec-2021.10.1
Successfully installed fsspec-2023.10.0 huggingface-hub-0.17.3 safetensors-0.4.0 tokenizers-0.14.1 transformers-4.34.1

In [63]:
# install PyTorch
import sys
!{sys.executable} -m pip install torch

Collecting torch
  Downloading torch-2.1.0-cp39-cp39-win_amd64.whl (192.2 MB)
Requirement already satisfied: networkx in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (2.6.3)
Requirement already satisfied: jinja2 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (3.0.3)
Requirement already satisfied: typing-extensions in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (4.7.1)
Requirement already satisfied: sympy in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (1.9)
Requirement already satisfied: fsspec in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (2023.10.0)
Requirement already satisfied: filelock in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from torch) (3.3.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from jinja2->torch) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\dgarb\anaconda3_reinstall\lib\site-packages (from sympy->torch) (1.2.1)
Installing collected packages: torch
Successfully installed torch-2.1.0

In [ ]:
# PyTorch did not install properly

# import sys
# !{sys.executable} -m pip install indexer 
# COULD NOT INSTALL - THREW ERROR

###  Lemmatization

In [39]:
df1.head()

,id,job_title,location,connection,fit
0,1,2019 bauer college business graduate magna cum laude aspiring human resources professional,houston texas,85,NaN
1,2,native english teacher epik english program korea,canada,500,NaN
2,3,aspiring human resources professional,north carolina area,44,NaN
3,4,people development coordinator ryan,denton texas,500,NaN
4,5,advisory board member celal bayar university,turkey,500,NaN

In [40]:
from nltk.stem.porter import PorterStemmer 
stem = PorterStemmer()

from nltk.stem.wordnet import WordNetLemmatizer 
lem = WordNetLemmatizer()

lem.lemmatize('feet')

text = 'aspiring human resources professional'

' '.join([lem.lemmatize(word) for word in text.split()])

'aspiring human resource professional'

In [41]:
df1['job_title'] = df1['job_title'].apply(lambda text: ' '.join([lem.lemmatize(word) for word in text.split()]))
df1['job_title']

0               2019 bauer college business graduate magna cum laude aspiring human resource professional
1                                                       native english teacher epik english program korea
2                                                                    aspiring human resource professional
3                                                                     people development coordinator ryan
4                                                            advisory board member celal bayar university
5                                                                      aspiring human resource specialist
6                                               student humber college aspiring human resource generalist
7                                                                                    hr senior specialist
8                                               student humber college aspiring human resource generalist
9                                                         seeking human resource hris generalist position
10                                                                             student chapman university
11                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
12                                           human resource coordinator intercontinental buckhead atlanta
13              2019 bauer college business graduate magna cum laude aspiring human resource professional
14              2019 bauer college business graduate magna cum laude aspiring human resource professional
15                                                      native english teacher epik english program korea
16                                                                   aspiring human resource professional
17                                                                    people development coordinator ryan
18              2019 bauer college business graduate magna cum laude aspiring human resource professional
19                                                      native english teacher epik english program korea
20                                                                   aspiring human resource professional
21                                                                    people development coordinator ryan
22                                                           advisory board member celal bayar university
23                                                                     aspiring human resource specialist
24                                              student humber college aspiring human resource generalist
25                                                                                   hr senior specialist
26                                          aspiring human resource management student seeking internship
27                                                                     seeking human resource opportunity
28                                          aspiring human resource management student seeking internship
29                                                                     seeking human resource opportunity
30              2019 bauer college business graduate magna cum laude aspiring human resource professional
31                                                      native english teacher epik english program korea
32                                                                   aspiring human resource professional
33                                                                    people development coordinator ryan
34                                                           advisory board member celal bayar university
35                                                                     aspiring human resource specialist
36                                              student humber college aspiring human resource generalist
37                                                                                   hr senior specialist
38                                              student humber college aspiring human resource generalist
39                                                        seeking human resource hris generalist position
40                                                                             student chapman university
41                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
42                                           human resource coordinator intercontinental buckhead atlanta
43              2019 bauer college business graduate magna cum laude aspiring human resource professional
44                                                      native english teacher epik english program korea
45                                                                   aspiring human resource professional
46                                                                    people development coordinator ryan
47                                                           advisory board member celal bayar university
48                                                                     aspiring human resource specialist
49                                              student humber college aspiring human resource generalist
50                                                                                   hr senior specialist
51                                              student humber college aspiring human resource generalist
52                                                        seeking human resource hris generalist position
53                                                                             student chapman university
54                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
55                                           human resource coordinator intercontinental buckhead atlanta
56              2019 bauer college business graduate magna cum laude aspiring human resource professional
57                                                                   aspiring human resource professional
58                                                                    people development coordinator ryan
59                                                                     aspiring human resource specialist
60                                                                                   hr senior specialist
61                                                        seeking human resource hris generalist position
62                                                                             student chapman university
63                   svp chro marketing communication csr officer engie houston woodland energy gphr sphr
64                                           human resource coordinator intercontinental buckhead atlanta
65                                        experienced retail manager aspiring human resource professional
66                                                        human resource staffing recruiting professional
67                                                                    human resource specialist luxottica
68                                                  director human resource north america groupe beneteau
69                   retired army national guard recruiter office manager seeking position human resource
70                                                              human resource generalist scottmadden inc
71                                              business management major aspiring human resource manager
72                                      aspiring human resource manager seeking internship human resource
73                                                                            human resource professional
74                         nortia staffing seeking human resource payroll administrative professional 408
75     aspiring human resource professional passionate helping create inclusive engaging work environment
76                                                 human resource conflict management policy compensation
77                                                                       human resource generalist schwan
78                                                      liberal art major aspiring human resource analyst
79                                                                  junior me engineer information system
80                                              senior human resource business partner heil environmental
81                                                  aspiring human resource professional energetic leader
82                                                                 hr manager endemol shine north america
83                                                   human resource professional world leader gi software
84                                          rrp brand portfolio executive jti japan tobacco international
85                                        information system specialist programmer love data organization
86                                                bachelor science biology victoria university wellington
87                                                                        human resource management major
88                                                                             director human resource ey
89                                                        undergraduate research assistant styczynski lab
90                                                              lead official western illinois university
91                                    seeking employment opportunity within customer service patient care
92                                           admission representative community medical center long beach
93                                              seeking human resource opportunity open travel relocation
94                                                                     student westfield state university
95             student indiana university kokomo business management retail manager delphi hardware paint
96                                                                   aspiring human resource professional
97                                                                                                student
98                                                                        seeking human resource position
99           aspiring human resource manager graduating may 2020 seeking human resource position st louis
100                                                                     human resource generalist loparex
101                                                              business intelligence analytics traveler
102                                                                                    always set success
103                                                            director administration excellence logging
Name: job_title, dtype: object

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    int32
 4   fit         0 non-null      float64
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 3.8+ KB

In [43]:
df1['location'].value_counts()

canada                                12
north carolina area                    8
houston texas area                     8
greater new york city area             7
houston texas                          7
denton texas                           6
san francisco bay area                 5
greater philadelphia area              5
turkey                                 4
lake forest california                 4
atlanta georgia                        4
chicago illinois                       2
austin texas area                      2
greater atlanta area                   2
united states                          2
long beach california                  1
milpitas california                    1
greater chicago area                   1
torrance california                    1
greater los angeles area               1
bridgewater massachusetts              1
lafayette indiana                      1
kokomo indiana area                    1
las vegas nevada area                  1
cape girardeau missouri                1
gaithersburg maryland                  1
baltimore maryland                     1
worth area                             1
highland california                    1
los angeles california                 1
chattanooga tennessee area             1
myrtle beach south carolina area       1
baton rouge louisiana area             1
new york new york                      1
san jose california                    1
greater boston area                    1
monroe louisiana area                  1
virginia beach virginia                1
greater grand rapids michigan area     1
jackson mississippi area               1
katy texas                             1
Name: location, dtype: int64

In [44]:
def proc_freq(df,variable_):  #Note variable_ must be given in quotes; example variable_: 'xyz'
    datax = df[variable_].value_counts().sort_index()
    
    datay = pd.DataFrame({
        variable_: datax.index,
        'Frequency': datax.values,
        'Percent': ((datax.values/datax.values.sum())*100).round(1),
        'Cumulative Frequency': datax.values.cumsum(),
        'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(1)   })
    
    #datay.set_index(variable_)
    
    return(datay)

In [45]:
proc_freq(df1,'location') #consolidate locations

,location,Frequency,Percent,Cumulative Frequency,Cumulative Percent
0,atlanta georgia,4,3.8,4,3.8
1,austin texas area,2,1.9,6,5.8
2,baltimore maryland,1,1.0,7,6.7
3,baton rouge louisiana area,1,1.0,8,7.7
4,bridgewater massachusetts,1,1.0,9,8.7
5,canada,12,11.5,21,20.2
6,cape girardeau missouri,1,1.0,22,21.2
7,chattanooga tennessee area,1,1.0,23,22.1
8,chicago illinois,2,1.9,25,24.0
9,denton texas,6,5.8,31,29.8
10,gaithersburg maryland,1,1.0,32,30.8
11,greater atlanta area,2,1.9,34,32.7
12,greater boston area,1,1.0,35,33.7
13,greater chicago area,1,1.0,36,34.6
14,greater grand rapids michigan area,1,1.0,37,35.6
15,greater los angeles area,1,1.0,38,36.5
16,greater new york city area,7,6.7,45,43.3
17,greater philadelphia area,5,4.8,50,48.1
18,highland california,1,1.0,51,49.0
19,houston texas,7,6.7,58,55.8
20,houston texas area,8,7.7,66,63.5
21,jackson mississippi area,1,1.0,67,64.4
22,katy texas,1,1.0,68,65.4
23,kokomo indiana area,1,1.0,69,66.3
24,lafayette indiana,1,1.0,70,67.3
25,lake forest california,4,3.8,74,71.2
26,las vegas nevada area,1,1.0,75,72.1
27,long beach california,1,1.0,76,73.1
28,los angeles california,1,1.0,77,74.0
29,milpitas california,1,1.0,78,75.0
30,monroe louisiana area,1,1.0,79,76.0
31,myrtle beach south carolina area,1,1.0,80,76.9
32,new york new york,1,1.0,81,77.9
33,north carolina area,8,7.7,89,85.6
34,san francisco bay area,5,4.8,94,90.4
35,san jose california,1,1.0,95,91.3
36,torrance california,1,1.0,96,92.3
37,turkey,4,3.8,100,96.2
38,united states,2,1.9,102,98.1
39,virginia beach virginia,1,1.0,103,99.0
40,worth area,1,1.0,104,100.0

In [46]:
df_test = df1[['job_title']].sample(5)
df_test

                                                                                             job_title
75  aspiring human resource professional passionate helping create inclusive engaging work environment
10                                                                          student chapman university
57                                                                aspiring human resource professional
49                                           student humber college aspiring human resource generalist
79                                                               junior me engineer information system

### create word frequency for job_title

In [47]:
dict_job ={}
for row in  df1['job_title']:
    lst = row.split()
    for word in lst:
        dict_job[word] = dict_job.get(word,0) +1

In [48]:
dict_job_list= list(dict_job.items())
sorted(dict_job_list,key = lambda x: x[1],reverse=True)

[('human', 63),
 ('resource', 63),
 ('aspiring', 35),
 ('professional', 21),
 ('student', 16),
 ('seeking', 15),
 ('college', 14),
 ('generalist', 14),
 ('university', 12),
 ('specialist', 12),
 ('business', 11),
 ('english', 10),
 ('coordinator', 10),
 ('2019', 7),
 ('bauer', 7),
 ('graduate', 7),
 ('magna', 7),
 ('cum', 7),
 ('laude', 7),
 ('humber', 7),
 ('position', 7),
 ('manager', 7),
 ('people', 6),
 ('development', 6),
 ('ryan', 6),
 ('hr', 6),
 ('senior', 6),
 ('management', 6),
 ('native', 5),
 ('teacher', 5),
 ('epik', 5),
 ('program', 5),
 ('korea', 5),
 ('advisory', 4),
 ('board', 4),
 ('member', 4),
 ('celal', 4),
 ('bayar', 4),
 ('hris', 4),
 ('chapman', 4),
 ('svp', 4),
 ('chro', 4),
 ('marketing', 4),
 ('communication', 4),
 ('csr', 4),
 ('officer', 4),
 ('engie', 4),
 ('houston', 4),
 ('woodland', 4),
 ('energy', 4),
 ('gphr', 4),
 ('sphr', 4),
 ('intercontinental', 4),
 ('buckhead', 4),
 ('atlanta', 4),
 ('opportunity', 4),
 ('internship', 3),
 ('director', 3),
 ('major', 3),
 ('retail', 2),
 ('staffing', 2),
 ('north', 2),
 ('america', 2),
 ('information', 2),
 ('system', 2),
 ('leader', 2),
 ('experienced', 1),
 ('recruiting', 1),
 ('luxottica', 1),
 ('groupe', 1),
 ('beneteau', 1),
 ('retired', 1),
 ('army', 1),
 ('national', 1),
 ('guard', 1),
 ('recruiter', 1),
 ('office', 1),
 ('scottmadden', 1),
 ('inc', 1),
 ('nortia', 1),
 ('payroll', 1),
 ('administrative', 1),
 ('408', 1),
 ('passionate', 1),
 ('helping', 1),
 ('create', 1),
 ('inclusive', 1),
 ('engaging', 1),
 ('work', 1),
 ('environment', 1),
 ('conflict', 1),
 ('policy', 1),
 ('compensation', 1),
 ('schwan', 1),
 ('liberal', 1),
 ('art', 1),
 ('analyst', 1),
 ('junior', 1),
 ('me', 1),
 ('engineer', 1),
 ('partner', 1),
 ('heil', 1),
 ('environmental', 1),
 ('energetic', 1),
 ('endemol', 1),
 ('shine', 1),
 ('world', 1),
 ('gi', 1),
 ('software', 1),
 ('rrp', 1),
 ('brand', 1),
 ('portfolio', 1),
 ('executive', 1),
 ('jti', 1),
 ('japan', 1),
 ('tobacco', 1),
 ('international', 1),
 ('programmer', 1),
 ('love', 1),
 ('data', 1),
 ('organization', 1),
 ('bachelor', 1),
 ('science', 1),
 ('biology', 1),
 ('victoria', 1),
 ('wellington', 1),
 ('ey', 1),
 ('undergraduate', 1),
 ('research', 1),
 ('assistant', 1),
 ('styczynski', 1),
 ('lab', 1),
 ('lead', 1),
 ('official', 1),
 ('western', 1),
 ('illinois', 1),
 ('employment', 1),
 ('within', 1),
 ('customer', 1),
 ('service', 1),
 ('patient', 1),
 ('care', 1),
 ('admission', 1),
 ('representative', 1),
 ('community', 1),
 ('medical', 1),
 ('center', 1),
 ('long', 1),
 ('beach', 1),
 ('open', 1),
 ('travel', 1),
 ('relocation', 1),
 ('westfield', 1),
 ('state', 1),
 ('indiana', 1),
 ('kokomo', 1),
 ('delphi', 1),
 ('hardware', 1),
 ('paint', 1),
 ('graduating', 1),
 ('may', 1),
 ('2020', 1),
 ('st', 1),
 ('louis', 1),
 ('loparex', 1),
 ('intelligence', 1),
 ('analytics', 1),
 ('traveler', 1),
 ('always', 1),
 ('set', 1),
 ('success', 1),
 ('administration', 1),
 ('excellence', 1),
 ('logging', 1)]

In [49]:
# collaborative filtering  csr most likely = corporate social responsibility as opposed to customer service representitive
# content-based filtering

### fix acronyms in job_title and create job_title2

In [50]:
lookup_dict = {'hr': 'human resources','chro':'chief human resources officer','epik':'english teacher korea',
               'hris':'human resources information system','svp':'senior vice president',
               'chro':'chief human resources officer','csr':'corporate social responsibility',
               'gphr':'global professional human resources','sphr':'senior professional human resources',
              'mes':'manufacturering execution systems','gis':'geographic information system','rrp':'recommended retail price',
              }

### use list comprehension to look up words in lookup_dict 

### use join to convert the resulting list into a string

In [51]:
text = 'svp chro marketing communications csr officer engie houston woodlands energy gphr sphr'
lst = text.split()
edited_text_list = [lookup_dict[word] if word in lookup_dict else word for word in lst]
' '.join(edited_text_list)

'senior vice president chief human resources officer marketing communications corporate social responsibility officer engie houston woodlands energy global professional human resources senior professional human resources'

### create fix_acronyms function so that each line of text can be corrected using  lookup_dict

In [52]:
def fix_acronyms(text):
    lst = text.split()
    edited_text_list = [lookup_dict[word] if word in lookup_dict else word for word in lst]
    return ' '.join(edited_text_list)

In [53]:
text = 'svp chro marketing communications csr officer engie houston woodlands energy gphr sphr'

fix_acronyms(text)

'senior vice president chief human resources officer marketing communications corporate social responsibility officer engie houston woodlands energy global professional human resources senior professional human resources'

### map fuction to df1.job_title2

In [54]:
df1['job_title2'] = df1['job_title'].map(fix_acronyms)
df1.job_title2.sample(10)

49                                    student humber college aspiring human resource generalist
62                                                                   student chapman university
92                                 admission representative community medical center long beach
36                                    student humber college aspiring human resource generalist
57                                                         aspiring human resource professional
48                                                           aspiring human resource specialist
65                              experienced retail manager aspiring human resource professional
13    2019 bauer college business graduate magna cum laude aspiring human resource professional
32                                                         aspiring human resource professional
66                                              human resource staffing recruiting professional
Name: job_title2, dtype: object

In [55]:
# LL = list(df1.job_title2.sample(50))

In [56]:
# LL

['student humber college aspiring human resource generalist',
 'senior vice president chief human resources officer marketing communication corporate social responsibility officer engie houston woodland energy global professional human resources senior professional human resources',
 'human resources senior specialist',
 'aspiring human resource specialist',
 'senior human resource business partner heil environmental',
 'student humber college aspiring human resource generalist',
 'seeking human resource human resources information system generalist position',
 'information system specialist programmer love data organization',
 'human resources senior specialist',
 'undergraduate research assistant styczynski lab',
 'aspiring human resource specialist',
 'liberal art major aspiring human resource analyst',
 'native english teacher english teacher korea english program korea',
 'student chapman university',
 'human resources senior specialist',
 'advisory board member celal bayar university',
 'human resource professional world leader gi software',
 'student chapman university',
 'human resource coordinator intercontinental buckhead atlanta',
 'aspiring human resource professional',
 'human resource coordinator intercontinental buckhead atlanta',
 'aspiring human resource professional',
 'student indiana university kokomo business management retail manager delphi hardware paint',
 'advisory board member celal bayar university',
 '2019 bauer college business graduate magna cum laude aspiring human resource professional',
 'seeking human resource opportunity',
 'aspiring human resource specialist',
 'seeking human resource human resources information system generalist position',
 'aspiring human resource professional',
 'human resource professional',
 'always set success',
 'senior vice president chief human resources officer marketing communication corporate social responsibility officer engie houston woodland energy global professional human resources senior professional human resources',
 'aspiring human resource professional passionate helping create inclusive engaging work environment',
 'bachelor science biology victoria university wellington',
 'senior vice president chief human resources officer marketing communication corporate social responsibility officer engie houston woodland energy global professional human resources senior professional human resources',
 'aspiring human resource management student seeking internship',
 'human resource coordinator intercontinental buckhead atlanta',
 'aspiring human resource professional',
 'seeking human resource opportunity open travel relocation',
 'senior vice president chief human resources officer marketing communication corporate social responsibility officer engie houston woodland energy global professional human resources senior professional human resources',
 'people development coordinator ryan',
 'aspiring human resource manager seeking internship human resource',
 'aspiring human resource professional energetic leader',
 'student humber college aspiring human resource generalist',
 'people development coordinator ryan',
 'human resource staffing recruiting professional',
 'aspiring human resource professional',
 'seeking human resource human resources information system generalist position',
 'student humber college aspiring human resource generalist',
 'human resource generalist schwan']

### create word frequency for job_title2

In [57]:
dict_job ={}
for row in  df1['job_title2']:
    lst = row.split()
    for word in lst:
        dict_job[word] = dict_job.get(word,0) +1

dict_job_list= list(dict_job.items())
sorted(dict_job_list,key = lambda x: x[1],reverse=True)

[('human', 85),
 ('resource', 63),
 ('aspiring', 35),
 ('professional', 29),
 ('resources', 22),
 ('student', 16),
 ('english', 15),
 ('seeking', 15),
 ('college', 14),
 ('generalist', 14),
 ('senior', 14),
 ('university', 12),
 ('specialist', 12),
 ('business', 11),
 ('teacher', 10),
 ('korea', 10),
 ('coordinator', 10),
 ('officer', 8),
 ('2019', 7),
 ('bauer', 7),
 ('graduate', 7),
 ('magna', 7),
 ('cum', 7),
 ('laude', 7),
 ('humber', 7),
 ('position', 7),
 ('manager', 7),
 ('people', 6),
 ('development', 6),
 ('ryan', 6),
 ('information', 6),
 ('system', 6),
 ('management', 6),
 ('native', 5),
 ('program', 5),
 ('advisory', 4),
 ('board', 4),
 ('member', 4),
 ('celal', 4),
 ('bayar', 4),
 ('chapman', 4),
 ('vice', 4),
 ('president', 4),
 ('chief', 4),
 ('marketing', 4),
 ('communication', 4),
 ('corporate', 4),
 ('social', 4),
 ('responsibility', 4),
 ('engie', 4),
 ('houston', 4),
 ('woodland', 4),
 ('energy', 4),
 ('global', 4),
 ('intercontinental', 4),
 ('buckhead', 4),
 ('atlanta', 4),
 ('opportunity', 4),
 ('internship', 3),
 ('retail', 3),
 ('director', 3),
 ('major', 3),
 ('staffing', 2),
 ('north', 2),
 ('america', 2),
 ('leader', 2),
 ('experienced', 1),
 ('recruiting', 1),
 ('luxottica', 1),
 ('groupe', 1),
 ('beneteau', 1),
 ('retired', 1),
 ('army', 1),
 ('national', 1),
 ('guard', 1),
 ('recruiter', 1),
 ('office', 1),
 ('scottmadden', 1),
 ('inc', 1),
 ('nortia', 1),
 ('payroll', 1),
 ('administrative', 1),
 ('408', 1),
 ('passionate', 1),
 ('helping', 1),
 ('create', 1),
 ('inclusive', 1),
 ('engaging', 1),
 ('work', 1),
 ('environment', 1),
 ('conflict', 1),
 ('policy', 1),
 ('compensation', 1),
 ('schwan', 1),
 ('liberal', 1),
 ('art', 1),
 ('analyst', 1),
 ('junior', 1),
 ('me', 1),
 ('engineer', 1),
 ('partner', 1),
 ('heil', 1),
 ('environmental', 1),
 ('energetic', 1),
 ('endemol', 1),
 ('shine', 1),
 ('world', 1),
 ('gi', 1),
 ('software', 1),
 ('recommended', 1),
 ('price', 1),
 ('brand', 1),
 ('portfolio', 1),
 ('executive', 1),
 ('jti', 1),
 ('japan', 1),
 ('tobacco', 1),
 ('international', 1),
 ('programmer', 1),
 ('love', 1),
 ('data', 1),
 ('organization', 1),
 ('bachelor', 1),
 ('science', 1),
 ('biology', 1),
 ('victoria', 1),
 ('wellington', 1),
 ('ey', 1),
 ('undergraduate', 1),
 ('research', 1),
 ('assistant', 1),
 ('styczynski', 1),
 ('lab', 1),
 ('lead', 1),
 ('official', 1),
 ('western', 1),
 ('illinois', 1),
 ('employment', 1),
 ('within', 1),
 ('customer', 1),
 ('service', 1),
 ('patient', 1),
 ('care', 1),
 ('admission', 1),
 ('representative', 1),
 ('community', 1),
 ('medical', 1),
 ('center', 1),
 ('long', 1),
 ('beach', 1),
 ('open', 1),
 ('travel', 1),
 ('relocation', 1),
 ('westfield', 1),
 ('state', 1),
 ('indiana', 1),
 ('kokomo', 1),
 ('delphi', 1),
 ('hardware', 1),
 ('paint', 1),
 ('graduating', 1),
 ('may', 1),
 ('2020', 1),
 ('st', 1),
 ('louis', 1),
 ('loparex', 1),
 ('intelligence', 1),
 ('analytics', 1),
 ('traveler', 1),
 ('always', 1),
 ('set', 1),
 ('success', 1),
 ('administration', 1),
 ('excellence', 1),
 ('logging', 1)]

In [58]:
df1.sample(50)

,id,job_title,location,connection,fit,job_title2
73,74,human resource professional,greater boston area,16,NaN,human resource professional
61,62,seeking human resource hris generalist position,greater philadelphia area,500,NaN,seeking human resource human resources information system generalist position
13,14,2019 bauer college business graduate magna cum laude aspiring human resource professional,houston texas,85,NaN,2019 bauer college business graduate magna cum laude aspiring human resource professional
32,33,aspiring human resource professional,north carolina area,44,NaN,aspiring human resource professional
42,43,human resource coordinator intercontinental buckhead atlanta,atlanta georgia,500,NaN,human resource coordinator intercontinental buckhead atlanta
52,53,seeking human resource hris generalist position,greater philadelphia area,500,NaN,seeking human resource human resources information system generalist position
75,76,aspiring human resource professional passionate helping create inclusive engaging work environment,new york new york,212,NaN,aspiring human resource professional passionate helping create inclusive engaging work environment
90,91,lead official western illinois university,greater chicago area,39,NaN,lead official western illinois university
39,40,seeking human resource hris generalist position,greater philadelphia area,500,NaN,seeking human resource human resources information system generalist position
66,67,human resource staffing recruiting professional,jackson mississippi area,500,NaN,human resource staffing recruiting professional
83,84,human resource professional world leader gi software,highland california,50,NaN,human resource professional world leader gi software
17,18,people development coordinator ryan,denton texas,500,NaN,people development coordinator ryan
60,61,hr senior specialist,san francisco bay area,500,NaN,human resources senior specialist
92,93,admission representative community medical center long beach,long beach california,9,NaN,admission representative community medical center long beach
25,26,hr senior specialist,san francisco bay area,500,NaN,human resources senior specialist
6,7,student humber college aspiring human resource generalist,canada,61,NaN,student humber college aspiring human resource generalist
38,39,student humber college aspiring human resource generalist,canada,61,NaN,student humber college aspiring human resource generalist
101,102,business intelligence analytics traveler,greater new york city area,49,NaN,business intelligence analytics traveler
50,51,hr senior specialist,san francisco bay area,500,NaN,human resources senior specialist
34,35,advisory board member celal bayar university,turkey,500,NaN,advisory board member celal bayar university
70,71,human resource generalist scottmadden inc,north carolina area,500,NaN,human resource generalist scottmadden inc
45,46,aspiring human resource professional,north carolina area,44,NaN,aspiring human resource professional
85,86,information system specialist programmer love data organization,gaithersburg maryland,4,NaN,information system specialist programmer love data organization
56,57,2019 bauer college business graduate magna cum laude aspiring human resource professional,houston texas,85,NaN,2019 bauer college business graduate magna cum laude aspiring human resource professional
27,28,seeking human resource opportunity,chicago illinois,390,NaN,seeking human resource opportunity
44,45,native english teacher epik english program korea,canada,500,NaN,native english teacher english teacher korea english program korea
103,104,director administration excellence logging,katy texas,500,NaN,director administration excellence logging
89,90,undergraduate research assistant styczynski lab,greater atlanta area,155,NaN,undergraduate research assistant styczynski lab
59,60,aspiring human resource specialist,greater new york city area,1,NaN,aspiring human resource specialist
29,30,seeking human resource opportunity,chicago illinois,390,NaN,seeking human resource opportunity
20,21,aspiring human resource professional,north carolina area,44,NaN,aspiring human resource professional
102,103,always set success,greater los angeles area,500,NaN,always set success
62,63,student chapman university,lake forest california,2,NaN,student chapman university
68,69,director human resource north america groupe beneteau,greater grand rapids michigan area,500,NaN,director human resource north america groupe beneteau
14,15,2019 bauer college business graduate magna cum laude aspiring human resource professional,houston texas,85,NaN,2019 bauer college business graduate magna cum laude aspiring human resource professional
77,78,human resource generalist schwan,united states,500,NaN,human resource generalist schwan
18,19,2019 bauer college business graduate magna cum laude aspiring human resource professional,houston texas,85,NaN,2019 bauer college business graduate magna cum laude aspiring human resource professional
4,5,advisory board member celal bayar university,turkey,500,NaN,advisory board member celal bayar university
21,22,people development coordinator ryan,denton texas,500,NaN,people development coordinator ryan
96,97,aspiring human resource professional,kokomo indiana area,71,NaN,aspiring human resource professional
48,49,aspiring human resource specialist,greater new york city area,1,NaN,aspiring human resource specialist
94,95,student westfield state university,bridgewater massachusetts,57,NaN,student westfield state university
99,100,aspiring human resource manager graduating may 2020 seeking human resource position st louis,cape girardeau missouri,103,NaN,aspiring human resource manager graduating may 2020 seeking human resource position st louis
43,44,2019 bauer college business graduate magna cum laude aspiring human resource professional,houston texas,85,NaN,2019 bauer college business graduate magna cum laude aspiring human resource professional
46,47,people development coordinator ryan,denton texas,500,NaN,people development coordinator ryan
36,37,student humber college aspiring human resource generalist,canada,61,NaN,student humber college aspiring human resource generalist
22,23,advisory board member celal bayar university,turkey,500,NaN,advisory board member celal bayar university
5,6,aspiring human resource specialist,greater new york city area,1,NaN,aspiring human resource specialist
80,81,senior human resource business partner heil environmental,chattanooga tennessee area,455,NaN,senior human resource business partner heil environmental
74,75,nortia staffing seeking human resource payroll administrative professional 408,san jose california,500,NaN,nortia staffing seeking human resource payroll administrative professional 408

## **from 10-20-23 meeting with Naveen**

**Google Search for the job title abbreviation site**
https://www.google.com/search?q=job+title+short+form+to+full+form&rlz=1C5GCEM_enUS1016US1016&oq=job+title+short+form+to+full+form&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBCTEzNDEwajBqN6gCALACAA&sourceid=chrome&ie=UTF-8

**job tile abbreviations**
https://blog.ongig.com/job-titles/job-title-abbreviations-acronyms/#:~:text=CIO%20%E2%80%94%20Chief%20Information%20Officer,COO%20%E2%80%94%20Chief%20Operation%20Officer

#### Articles on Similarity

**Read third**    
https://towardsdatascience.com/bert-for-measuring-text-similarity-eec91c6bf9e1

**Read first**
https://www.newscatcherapi.com/blog/ultimate-guide-to-text-similarity-with-python

**Read second**
https://spotintelligence.com/2022/12/19/text-similarity-python/

import transformers

# Load the BERT model
model = transformers.BertModel.from_pretrained('bert-base-uncased')

# Tokenize and encode the texts
text1 = "This is the first text."
text2 = "This is the second text."
encoding1 = model.encode(text1, max_length=512)
encoding2 = model.encode(text2, max_length=512)

# Calculate the cosine similarity between the embeddings
similarity = numpy.dot(encoding1, encoding2) / (numpy.linalg.norm(encoding1) * numpy.linalg.norm(encoding2))
print(similarity)

In [64]:
import transformers
import torch
# Load the BERT model
model = transformers.BertModel.from_pretrained('bert-base-uncased')

ImportError:
BertModel requires the PyTorch library but it was not found in your environment.
However, we were able to find a TensorFlow installation. TensorFlow classes begin
with "TF", but are otherwise identically named to our PyTorch classes. This
means that the TF equivalent of the class you tried to import would be "TFBertModel".
If you want to use TensorFlow, please use TF classes instead!

If you really do want to use PyTorch please go to
https://pytorch.org/get-started/locally/ and follow the instructions that
match your environment.

In [70]:
# Load the RoBERTa model
model = transformers.RobertaModel.from_pretrained('roberta-base')

ImportError:
RobertaModel requires the PyTorch library but it was not found in your environment.
However, we were able to find a TensorFlow installation. TensorFlow classes begin
with "TF", but are otherwise identically named to our PyTorch classes. This
means that the TF equivalent of the class you tried to import would be "TFRobertaModel".
If you want to use TensorFlow, please use TF classes instead!

If you really do want to use PyTorch please go to
https://pytorch.org/get-started/locally/ and follow the instructions that
match your environment.

In [67]:
import transformers
import tensorflow as tf
# Load the BERT model
model = transformers.TFBertModel.from_pretrained('bert-base-uncased')

Downloading (…)lve/main/config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

C:\Users\dgarb\anaconda3_reinstall\lib\site-packages\huggingface_hub\file_download.py:137: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\dgarb\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.bias']
- This IS expected if you are initializing TFBertModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBertModel were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [68]:
model = transformers.TFBertModel.from_pretrained('bert-base-uncased')

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.bias']
- This IS expected if you are initializing TFBertModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBertModel were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [61]:
keywords = ['aspiring human resources' , 'seeking human resources']

In [ ]:
# key_encode1 = model.encode(keywords[0])  
# key_encode2 = model.encode(keywords[1])

In [69]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer()

key_encode = vectorizer.fit_transform(keywords)
key_encode

<2x4 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>